html{
	background: #f0e9d3;
	color: #1d1507;
	font-family: 'Playfair Display', serif;
}
body{
	margin: 10vh auto auto 10%;
}
h1{
	font-weight: 700;
	font-size: 4rem;
	margin-bottom: 2.5rem;
	border-bottom: 0.2rem solid #1d1507;
}
#books{
	display: flex;
}

.cover{
	width: 16rem;
	height: 24rem;
	border: 1rem solid white;
	object-fit: cover;
	transition: box-shadow .1s;
}
h4{
	margin: 2.5rem 0 1rem 0;
	font-size: 2rem;
}
#radio{
	font-weight: 400;
}
p{
	margin: 1rem 0rem;
	font-size: 1.5rem;
	font-weight: 400;
}
p>input{
	margin-right: 1rem;
}
input[type=submit]{
	margin: 1rem 0;
	padding: 0.5rem 1.5rem;
	font-size: 1.2rem;
	border: 0.15rem solid #1d1507;
	font-family: "Playfair Display", serif;
	font-weight: 700;
	background: none;
	color: #1d1507;
	cursor: pointer;
	letter-spacing: 0.01rem;
}
input[type=submit]:hover{
	background: #1d1507;
	color: white;
}